<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Activates scanning of @Repository and @Service and @Component -->


 <context:component-scan
		base-package="com.mycompany.springmvchibernate.Config.**" /> 
	<!-- <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer"> 
		<property name="environment"> <bean class="org.springframework.web.context.support.StandardServletEnvironment"/> 
		</property> -->

	<!-- </bean> -->
	
	<!-- JAVA MAIL -->
	<bean id="mailSender" 
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${mail.smtp.host}" />
		<property name="port" value="${mail.smtp.port}" />
		<property name="username" value="${mail.smtp.user}" /> <!-- (1) -->
		<property name="password" value="${mail.smtp.password}" /> <!-- (2) -->
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop> <!-- (3) -->
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="spring.mail.properties.mail.smtp.starttls.required">true</prop>
				
				<!-- <prop key="mail.debug">true</prop>
				<prop key="mail.transport.protocol">SMTP</prop>
				 -->
			</props>
		</property>
	</bean>
	
	<bean id="templateMessage" class="org.springframework.mail.SimpleMailMessage">
    <property name="from" value="info@example.com" /> <!-- (2) -->
    <property name="subject" value="Registration confirmation." /> <!-- (3) -->
</bean>
<mvc:cors>
    <mvc:mapping path="/**"
        allowed-origins="*"
        allowed-headers="Content-Type, Access-Control-Allow-Origin, Access-Control-Allow-Headers, Authorization, X-Requested-With, requestId, Correlation-Id"
        allowed-methods="GET, PUT, POST, DELETE"/>
</mvc:cors>
	
</beans>