
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [APSHOP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [APSHOP]
GO
/****** Object:  Table [dbo].[BO_NHO]    Script Date: 09/22/21 07:21:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BO_NHO](
	[ID] [varchar](10) NOT NULL,
	[DungLuong] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_BO_NHO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_DON_DAT_HANG]    Script Date: 09/22/21 07:21:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_DON_DAT_HANG](
	[ID_DDH] [int] NOT NULL,
	[ID_CTSP] [varchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_CHI_TIET_DON_DAT_HANG] PRIMARY KEY CLUSTERED 
(
	[ID_DDH] ASC,
	[ID_CTSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_GIO_HANG]    Script Date: 09/22/21 07:21:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_GIO_HANG](
	[ID_GH] [int] NOT NULL,
	[ID_CTSP] [varchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_CHI_TIET_GIO_HANG] PRIMARY KEY CLUSTERED 
(
	[ID_GH] ASC,
	[ID_CTSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_SAN_PHAM]    Script Date: 09/22/21 07:21:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_SAN_PHAM](
	[ID] [varchar](10) NOT NULL,
	[DonGia] [money] NULL,
	[SoLuong] [int] NULL,
	[ID_BN] [varchar](10) NOT NULL,
	[ID_R] [varchar](10) NOT NULL,
	[ID_C] [varchar](10) NOT NULL,
	[ID_M] [varchar](10) NOT NULL,
	[ID_SP] [varchar](10) NOT NULL,
 CONSTRAINT [PK_CHI_TIET_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHIP]    Script Date: 09/22/21 07:21:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHIP](
	[ID] [varchar](10) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_CHIP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANH_GIA]    Script Date: 09/22/21 07:21:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANH_GIA](
	[ID_KH] [int] NOT NULL,
	[ID_SP] [varchar](10) NOT NULL,
	[NoiDung] [text] NOT NULL,
	[ThoiGian] [datetime] NOT NULL,
 CONSTRAINT [PK_DANH_GIA] PRIMARY KEY CLUSTERED 
(
	[ID_KH] ASC,
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_DAT_HANG]    Script Date: 09/22/21 07:21:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_DAT_HANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGian] [datetime] NOT NULL,
	[TinhTrang] [int] NULL,
	[ID_DVVC] [varchar](10) NOT NULL,
	[ID_KH] [int] NOT NULL,
 CONSTRAINT [PK_DON_DAT_HANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_VI_VAN_CHUYEN]    Script Date: 09/22/21 07:21:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_VI_VAN_CHUYEN](
	[ID] [varchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DON_VI_VAN_CHUYEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIO_HANG]    Script Date: 09/22/21 07:21:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIO_HANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_GIO_HANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 09/22/21 07:21:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HoVaTenDem] [nvarchar](50) NULL,
	[Ten] [nvarchar](20) NOT NULL,
	[DiaCHi] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](11) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[ID_GH] [int] NOT NULL,
	[ID_TK] [int] NOT NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI]    Script Date: 09/22/21 07:21:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI](
	[ID] [varchar](10) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_LOAI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAU]    Script Date: 09/22/21 07:21:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAU](
	[ID] [varchar](10) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_MAU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAM]    Script Date: 09/22/21 07:21:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAM](
	[ID] [varchar](10) NOT NULL,
	[DungLuong] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_RAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 09/22/21 07:21:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[ID] [varchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Sim] [text] NULL,
	[CameraTruoc] [text] NULL,
	[CameraSau] [text] NULL,
	[ManHinh] [text] NOT NULL,
	[PinSac] [text] NULL,
	[MoTa] [text] NULL,
	[ID_L] [varchar](10) NOT NULL,
 CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 09/22/21 07:21:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[ID_VT] [varchar](10) NOT NULL,
 CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAI_TRO]    Script Date: 09/22/21 07:21:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAI_TRO](
	[ID] [varchar](10) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_VAI_TRO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BO_NHO] ([ID], [DungLuong]) VALUES (N'1024', N'1 TB')
INSERT [dbo].[BO_NHO] ([ID], [DungLuong]) VALUES (N'128', N'128 GB')
INSERT [dbo].[BO_NHO] ([ID], [DungLuong]) VALUES (N'256', N'256 GB')
GO
INSERT [dbo].[CHIP] ([ID], [Name]) VALUES (N'a13', N'Apple A13 Bionic')
INSERT [dbo].[CHIP] ([ID], [Name]) VALUES (N'a14', N'Apple A14 Bionic')
INSERT [dbo].[CHIP] ([ID], [Name]) VALUES (N'a15', N'Apple A15 Bionic')
GO
INSERT [dbo].[DON_VI_VAN_CHUYEN] ([ID], [Name]) VALUES (N'ghn', N'Giao Hàng Nhanh')
INSERT [dbo].[DON_VI_VAN_CHUYEN] ([ID], [Name]) VALUES (N'ghtk', N'Giao Hàng Tiết Kiệm')
INSERT [dbo].[DON_VI_VAN_CHUYEN] ([ID], [Name]) VALUES (N'jnt', N'J&T Express')
GO
INSERT [dbo].[LOAI] ([ID], [Name]) VALUES (N'ipd', N'iPad')
INSERT [dbo].[LOAI] ([ID], [Name]) VALUES (N'ip', N'iPhone')
INSERT [dbo].[LOAI] ([ID], [Name]) VALUES (N'mb', N'MacBook')
GO
INSERT [dbo].[MAU] ([ID], [Name]) VALUES (N'PR', N'(Product)RED')
INSERT [dbo].[MAU] ([ID], [Name]) VALUES (N'Blk', N'Black')
INSERT [dbo].[MAU] ([ID], [Name]) VALUES (N'Bl', N'Blue')
GO
INSERT [dbo].[RAM] ([ID], [DungLuong]) VALUES (N'16', N'16 GB')
INSERT [dbo].[RAM] ([ID], [DungLuong]) VALUES (N'32', N'32 GB')
INSERT [dbo].[RAM] ([ID], [DungLuong]) VALUES (N'64', N'64 GB')
GO
INSERT [dbo].[VAI_TRO] ([ID], [Name]) VALUES (N'kh', N'Khách Hàng')
INSERT [dbo].[VAI_TRO] ([ID], [Name]) VALUES (N'qtv', N'Quản Trị Viên')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_BO_NHO_DungLuong]    Script Date: 09/22/21 07:21:24 PM ******/
ALTER TABLE [dbo].[BO_NHO] ADD  CONSTRAINT [UK_BO_NHO_DungLuong] UNIQUE NONCLUSTERED 
(
	[DungLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_CHIP_Name]    Script Date: 09/22/21 07:21:24 PM ******/
ALTER TABLE [dbo].[CHIP] ADD  CONSTRAINT [UK_CHIP_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_DON_VI_VAN_CHUYEN_Name]    Script Date: 09/22/21 07:21:24 PM ******/
ALTER TABLE [dbo].[DON_VI_VAN_CHUYEN] ADD  CONSTRAINT [UK_DON_VI_VAN_CHUYEN_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UK_KHACH_HANG_ID_GH]    Script Date: 09/22/21 07:21:24 PM ******/
ALTER TABLE [dbo].[KHACH_HANG] ADD  CONSTRAINT [UK_KHACH_HANG_ID_GH] UNIQUE NONCLUSTERED 
(
	[ID_GH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UK_KHACH_HANG_ID_TK]    Script Date: 09/22/21 07:21:24 PM ******/
ALTER TABLE [dbo].[KHACH_HANG] ADD  CONSTRAINT [UK_KHACH_HANG_ID_TK] UNIQUE NONCLUSTERED 
(
	[ID_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_LOAI_Name]    Script Date: 09/22/21 07:21:24 PM ******/
ALTER TABLE [dbo].[LOAI] ADD  CONSTRAINT [UK_LOAI_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_MAU_Name]    Script Date: 09/22/21 07:21:24 PM ******/
ALTER TABLE [dbo].[MAU] ADD  CONSTRAINT [UK_MAU_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_RAM_DungLuong]    Script Date: 09/22/21 07:21:24 PM ******/
ALTER TABLE [dbo].[RAM] ADD  CONSTRAINT [UK_RAM_DungLuong] UNIQUE NONCLUSTERED 
(
	[DungLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_VAI_TRO_Name]    Script Date: 09/22/21 07:21:24 PM ******/
ALTER TABLE [dbo].[VAI_TRO] ADD  CONSTRAINT [UK_VAI_TRO_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DON_DAT_HANG] ADD  CONSTRAINT [DF_DON_DAT_HANG_ThoiGian]  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[CHI_TIET_DON_DAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_DON_DAT_HANG_CHI_TIET_SAN_PHAM] FOREIGN KEY([ID_CTSP])
REFERENCES [dbo].[CHI_TIET_SAN_PHAM] ([ID])
GO
ALTER TABLE [dbo].[CHI_TIET_DON_DAT_HANG] CHECK CONSTRAINT [FK_CHI_TIET_DON_DAT_HANG_CHI_TIET_SAN_PHAM]
GO
ALTER TABLE [dbo].[CHI_TIET_DON_DAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_DON_DAT_HANG_DON_DAT_HANG] FOREIGN KEY([ID_DDH])
REFERENCES [dbo].[DON_DAT_HANG] ([ID])
GO
ALTER TABLE [dbo].[CHI_TIET_DON_DAT_HANG] CHECK CONSTRAINT [FK_CHI_TIET_DON_DAT_HANG_DON_DAT_HANG]
GO
ALTER TABLE [dbo].[CHI_TIET_GIO_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_GIO_HANG_CHI_TIET_SAN_PHAM] FOREIGN KEY([ID_CTSP])
REFERENCES [dbo].[CHI_TIET_SAN_PHAM] ([ID])
GO
ALTER TABLE [dbo].[CHI_TIET_GIO_HANG] CHECK CONSTRAINT [FK_CHI_TIET_GIO_HANG_CHI_TIET_SAN_PHAM]
GO
ALTER TABLE [dbo].[CHI_TIET_GIO_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_GIO_HANG_GIO_HANG] FOREIGN KEY([ID_GH])
REFERENCES [dbo].[GIO_HANG] ([ID])
GO
ALTER TABLE [dbo].[CHI_TIET_GIO_HANG] CHECK CONSTRAINT [FK_CHI_TIET_GIO_HANG_GIO_HANG]
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_SAN_PHAM_BO_NHO] FOREIGN KEY([ID_BN])
REFERENCES [dbo].[BO_NHO] ([ID])
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM] CHECK CONSTRAINT [FK_CHI_TIET_SAN_PHAM_BO_NHO]
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_SAN_PHAM_CHIP] FOREIGN KEY([ID_C])
REFERENCES [dbo].[CHIP] ([ID])
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM] CHECK CONSTRAINT [FK_CHI_TIET_SAN_PHAM_CHIP]
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_SAN_PHAM_MAU] FOREIGN KEY([ID_M])
REFERENCES [dbo].[MAU] ([ID])
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM] CHECK CONSTRAINT [FK_CHI_TIET_SAN_PHAM_MAU]
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_SAN_PHAM_RAM] FOREIGN KEY([ID_R])
REFERENCES [dbo].[RAM] ([ID])
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM] CHECK CONSTRAINT [FK_CHI_TIET_SAN_PHAM_RAM]
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_SAN_PHAM_SAN_PHAM] FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SAN_PHAM] ([ID])
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM] CHECK CONSTRAINT [FK_CHI_TIET_SAN_PHAM_SAN_PHAM]
GO
ALTER TABLE [dbo].[DANH_GIA]  WITH CHECK ADD  CONSTRAINT [FK_DANH_GIA_KHACH_HANG] FOREIGN KEY([ID_KH])
REFERENCES [dbo].[KHACH_HANG] ([ID])
GO
ALTER TABLE [dbo].[DANH_GIA] CHECK CONSTRAINT [FK_DANH_GIA_KHACH_HANG]
GO
ALTER TABLE [dbo].[DANH_GIA]  WITH CHECK ADD  CONSTRAINT [FK_DANH_GIA_SAN_PHAM] FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SAN_PHAM] ([ID])
GO
ALTER TABLE [dbo].[DANH_GIA] CHECK CONSTRAINT [FK_DANH_GIA_SAN_PHAM]
GO
ALTER TABLE [dbo].[DON_DAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_DAT_HANG_DON_VI_VAN_CHUYEN] FOREIGN KEY([ID_DVVC])
REFERENCES [dbo].[DON_VI_VAN_CHUYEN] ([ID])
GO
ALTER TABLE [dbo].[DON_DAT_HANG] CHECK CONSTRAINT [FK_DON_DAT_HANG_DON_VI_VAN_CHUYEN]
GO
ALTER TABLE [dbo].[DON_DAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_DAT_HANG_KHACH_HANG] FOREIGN KEY([ID_KH])
REFERENCES [dbo].[KHACH_HANG] ([ID])
GO
ALTER TABLE [dbo].[DON_DAT_HANG] CHECK CONSTRAINT [FK_DON_DAT_HANG_KHACH_HANG]
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_HANG_GIO_HANG] FOREIGN KEY([ID_GH])
REFERENCES [dbo].[GIO_HANG] ([ID])
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [FK_KHACH_HANG_GIO_HANG]
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_HANG_TAI_KHOAN] FOREIGN KEY([ID_TK])
REFERENCES [dbo].[TAI_KHOAN] ([ID])
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [FK_KHACH_HANG_TAI_KHOAN]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_LOAI] FOREIGN KEY([ID_L])
REFERENCES [dbo].[LOAI] ([ID])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_LOAI]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAI_KHOAN_VAI_TRO] FOREIGN KEY([ID_VT])
REFERENCES [dbo].[VAI_TRO] ([ID])
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [FK_TAI_KHOAN_VAI_TRO]
GO
USE [master]
GO
